@font-face {
    font-family: Gloss and Bloom;
    src: url(../css/Gloss_And_Bloom.ttf)
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #222;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

body{ padding-top: 20px;}

/* Navbar */
.navbar {
    height: 100px;    
}

.navbar-nav li {
    padding-right:50px;
}

.nav-link {
    font-size: 1.2em !important;
}

.nav-link:hover {
    color:gray !important;
}

.bg-light {
    background-color: #000!important;
} 

.navbar-light .navbar-toggler {
    border-color: #e9ecef;
    background-color: #e9ecef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
    font-family: Gloss and Bloom;
    letter-spacing: 3px;
}

#MCG {
    font-family: Gloss and Bloom;
    color: white;
    font-size: xx-large; 
    padding-left: 50px;
    padding-top: 1rem;    
}

/* Carousel */

#carouselcontainer {
    padding-top: 60px;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.display-2 {
    font-family: Gloss and Bloom;
}

#button2 {
    background-color:rgba(108, 109, 112, 0.842);
}

#button3 {
    background-color: rgba(108, 109, 112, 0.842);    
}

/* hr */
hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

/* about me */
#jumbo {
    padding-top: 20px;
}

.jumbotron {
    padding: 2rem 2rem;
    border-radius: 0;
    margin-top: 60px;
    background-color: #b2ebee;
}

#About {
    font-family: Gloss and Bloom;
    text-align: center;
    padding-top: 10px;
}

/* Portfolio Projects */
#Portfolio {
    margin-top: 65px;
    font-family: Gloss and Bloom;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;

}

#linksPortfolio {
    padding-top: 20px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.card {
    background-color: transparent;
}

.card-title {
    color: white;
    text-align: center;
    letter-spacing: 2px;    
}

#boton { 
    margin-left: 40px;
}

/* footer */
.footer {
    color: white;
    font-family: Gloss and Bloom;
    font-size: small;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1146px) {
    .carousel-caption{
        transform: translateY(-180px);
    }
}

@media (max-width: 991px) {
    #aboutmep {
        margin-top: 20px;
    }
    #portfolio {
        height: 100%;
    }
    .card {
        margin-left: 170px;
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-70%);
    }
    .carousel-caption h1 {
        font-size: 450%;
    }

    .img {
        display: block;
        margin: auto;
    }

}

@media (max-width: 640px) {
    .carousel-caption {
        top: 50%;
        transform: translateY(-70%);
    }
    .card {
        margin-left: 120px;
    }
}

@media (max-width: 565px) {
    .carousel-caption {
        top: 50%;
        transform: translateY(-90%);
    }
    .card {
        margin-left: 70px;
    }
}

@media (max-width: 516px) {
    .carousel-caption {
        top: 45%;
        transform: translateY(-90%);   
    }
    .carousel-caption h1 {
        font-size: 200%;
    }
    .card {
        margin-left: 0;
    }
} 